html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
   font-family: arial, sans-serif;
   text-align: center;
}
*{
   padding: 0px;
   margin: 0px;
}
header {
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #505050;
}
.div1{
   position: relative;
   width: 1200%;
   height: 60px;
   margin-left: auto;
   margin-right: auto;
   background-color: #505050;
}
#title-noemi{
   top: 12px;
   float: left;
}
.title {
	position:relative;
	font-family: miso-bold;
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 20px;
}
#icons-container-right{
	position: relative;
	top: 8px;
	float: right;
}
a {
	text-decoration: none;
}
.icon-facebook {
	background-image: url(./images/facebookicon.png);
}
.icon{
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  float: left;
}
.background1{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(./images/background.jpg) no-repeat center center fixed;
  top: 0;
  display: table;
  background-size: cover;
}
.background1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.content h1{
  font-family: 'Century Gothic',sans-serif;
  color: #FFFFFF;
  font-size: 250%;
  text-shadow: 0 0 300px #000;
}
.content h2{
  font-family: 'Century Gothic',sans-serif;
  color: #C0C0C0;
  font-size: 150%;
  text-shadow: 0 0 300px #000;
}

.content .btn:hover{
  color: #2196f3;
}
p{
  font-size: 160%;
  line-height: 200%;
  text-align: center;
  margin: 3%;
  font-family: sans-serif;
}
