
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
   font-family: arial, sans-serif;
   text-align: center;
}
*{
   padding: 0px;
   margin: 0px;
}
.div1{
   width: 100%;
   height: 650px;
   background: url(./images/background.jpg) no-repeat center center fixed;  
}
.background1{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(./images/background.jpg) no-repeat center center fixed;
  top: 0;
  display: table;
  background-size: cover;
}
.background1 .in1{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.content h1{
  font-family: 'Century Gothic',sans-serif;
  color: #FFFFFF;
  font-size: 250%;
  text-shadow: 0 0 300px #000;
}
.content h2{
  font-family: 'Century Gothic',sans-serif;
  color: #C0C0C0;
  font-size: 150%;
  text-shadow: 0 0 300px #000;
}

.content .btn:hover{
  color: #2196f3;
}
p{
  font-size: 160%;
  line-height: 200%;
  text-align: center;
  margin: 3%;
  font-family: sans-serif;
}

