
html
{
	background: url(uxunicorn.jpg) no-repeat center center fixed ;
	-webkit-background-size: cover;
 	 -moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}

body
{
	margin: 0px;
	padding: 0px;
	
}

#ornfc
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	
}

#ornwall
{
	position: fixed;
	left: 0px;
	top: 50%;
	width: 100%;
	height: 1740px;
	margin-top: -870px;
}

#design-text
{
	position: absolute;
	width: 630px;
	height: 570px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -270px;
	background-image: url(./images/SkillsText.png);
}
.design-shift-up
{
	animation-name: shift-up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes shift-up
{
	0%   { top: 100%; }
  	100% { top: 50%; }
}

#scroll-down
{
	position: absolute;
	left: 50%;
	bottom: 15%;
	width: 250px;
	height: 50px;
	margin-left: -220px;
	border-radius: 25px;
	background-color: #404040;
}

#scroll-down-text
{
	position: relative;
	font-family: frankfurter-plain;
	color: #ffffff;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	display: table; /*to make height wrap content*/

	-webkit-animation: scroll-down-text-animation 1s infinite; /* Safari 4+ */
	-moz-animation:    scroll-down-text-animation 1s infinite; /* Fx 5+ */
	-o-animation:      scroll-down-text-animation 1s infinite; /* Opera 12+ */
	animation:         scroll-down-text-animation 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}
