

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
     font-family: "Arial" ;
     text-align: center;
}
*{
     padding: 0px;
     margin: 0px;
}
header {
	   position: relative;
	   width: 100%;
	   height: 60px;
	   background-color: #505050;
     font-family: "Arial" ;
}
.div1{
     position: relative;
     width: 1200%;
     height: 60px;
     margin-left: auto;
     margin-right: auto;
     background-color: #505050;
     font-family: "Arial" ;
}

#title-noemi{
     top: 12px;
     float: left;
}
.title {
	   position:relative;
	   font-family: sans-serif;
	   color: #ffffff;
	   font-size: 30px;
	   margin-bottom: 20px;
}

#icons-container-right{
	   position: relative;
	   top: 8px;
	   float: right;
}
.icon{
     position: relative;
     width: 44px;
     height: 44px;
     margin-right: 8px;
     float: left;
}

a {
	   text-decoration: none;
}

.icon-facebook {
	   background-image: url(./images/facebookicon.png);
}
.icon-twitter{
     background-image: url(./images/icon-twitter.png);
}
.icon-instagram{
     background-image: url(./images/instagram.png);
}
.icon-github{
     background-image: url(./images/github.png);
}

#portfolio-1{
  background-image: url(./images/ground.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #00bff3;
}
.portfolio
{
  position: relative;
  width: 100%;
  height: 600px;
}
#portfolio-container-1
{
  background-image: url(./images/aboutme.png);
}
.portfolio-container
{
  position: relative;
  width: 1200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-text-title
{
  position: relative;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 70px;
  line-height: 56px;
  margin-bottom: 18px;
}
.portfolio-text-body
{
  position: relative;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.portfolio-text-button
{
  position: relative;
  display: inline-block;
  padding: 12px;
  border-style: solid;
    border-width: 2px;
  border-radius: 5px;
  border-color: #ffffff;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.portfolio-text-container-right
{
  right: 0px;
}
.portfolio-text-container-left
{
  left: 0px;
}
.portfolio-text-container
{
  position: absolute;
  width: 360px;
  top: 50%;
  transform: translateY(-50%);
}


#portfolio-2
{
  background-color:   #DDA0DD;
}
#portfolio-container-2
{
  background-image: url(./images/skillsimg.png);
}


.text
{
  position: relative;
  font-family: Arial;
  font-size: 14px;
  color: #cccccc;
  line-height: 20px;
  margin-bottom: 18px;
}

.text a
{
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

#portfolio-3
{
  background-color: #FF69B4;
}
#portfolio-container-3
{
  background-image: url(./images/contactimg.png);
}


footer
{
  position: relative;
  width: 100%;
  background-color: #505050;
}

#footer-container
{
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background-color: #505050;
}

.footer-column
{
  position: relative;
  width: 360px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom:
}
