body
{
	margin: 0px;
	padding: 0px;
	background-color: #B0E0E6;
}

#loading
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#loading-pic-percent-text
{
	position: absolute;
	width: 500px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -100px;
	font-family: frankfurter-plain;
	color: #ffffff;
	font-size: 60px;
	text-align: center;
}

#loading-pic-percent-bar
{
	position: absolute;
	width: 340px;
	height: 20px;
	left: 0px;
	top: 0px;
	background-color: #ffb3d1;
}

#loading-pic-percent-box
{
	position: absolute;
	width: 340px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-left: -170px;
	margin-top: -10px;
	border-radius: 10px;
	background-color: #800033;
	overflow: hidden;
}

#design-lamp
{
	position: absolute;
	width: 600px;
	height: 430px;
	left: 50%;
	top: 50%;
	margin-left: -1080px;
	margin-top: -130px;
	background-image: url(./images/lamp.png);
}
.design-shift-right
{
	animation-name: shift-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#design-notes
{
	position: absolute;
	width: 630px;
	height: 570px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -270px;
	background-image: url(./images/notes.png);
}
.ornament-shift-up
{
	animation-name: shift-up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

