body
{
	margin: 0px;
	padding: 0px;
	background-color: #80bfff;
}

#ornfc
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #B0E0E6;
}

#ornwall
{
	position: fixed;
	left: 0px;
	top: 50%;
	width: 100%;
	height: 1740px;
	margin-top: -870px;
	background-color: #87CEFA;
}

#loading
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#loading-pic-percent-text
{
	position: absolute;
	width: 500px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -100px;
	font-family: frankfurter-plain;
	color: #ffffff;
	font-size: 60px;
	text-align: center;
}

#loading-pic-percent-bar
{
	position: absolute;
	width: 340px;
	height: 20px;
	left: 0px;
	top: 0px;
	background-color: #ffb3d1;
}

#loading-pic-percent-box
{
	position: absolute;
	width: 340px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-left: -170px;
	margin-top: -10px;
	border-radius: 10px;
	background-color: #800033;
	overflow: hidden;
}

#design-lamp
{
	position: absolute;
	width: 600px;
	height: 430px;
	left: 50%;
	top: 50%;
	margin-left: -1080px;
	margin-top: -130px;
	background-image: url(./images/lamp.png);
}
.design-shift-right
{
	animation-name: shift-right;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#design-notes
{
	position: absolute;
	width: 630px;
	height: 570px;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -270px;
	background-image: url(./images/notes.png);
}
.design-shift-up
{
	animation-name: shift-up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#design-case
{
	position: absolute;
	width: 170px;
	height: 270px;
	left: 50%;
	top: 50%;
	margin-left: -460px;
	margin-top: 30px;
	background-image: url(./images/case.png);
}
.design-shift-down
{
	animation-name: shift-down;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#design-books
{
	position: absolute;
	width: 240px;
	height: 270px;
	left: 50%;
	top: 50%;
	margin-left: 320px;
	margin-top: 30px;
	background-image: url(./images/books.png);
}

#design-cup
{
	position: absolute;
	width: 190px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: 500px;
	margin-top: -10px;
	background-image: url(./images/cup.png);
}
.design-shift-left
{
	animation-name: shift-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}



@keyframes shift-up
{
	0%   { top: 100%; }
  	100% { top: 50%; }
}

@keyframes shift-down
{
	0%   { top: 0%; }
  	100% { top: 50%; }
}

@keyframes shift-left
{
	0%   { left: 100%; }
  	100% { left: 50%; }
}

@keyframes shift-right
{
	0%   { left: 0%; }
  	100% { left: 50%; }
}


#scroll-down
{
	position: absolute;
	left: 50%;
	bottom: 2%;
	width: 250px;
	height: 50px;
	margin-left: -120px;
	border-radius: 25px;
	background-color: #57D298;
}

#scroll-down-text
{
	position: relative;
	font-family: frankfurter-plain;
	color: #ffffff;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	display: table; /*to make height wrap content*/

	-webkit-animation: scroll-down-text-animation 1s infinite; /* Safari 4+ */
	-moz-animation:    scroll-down-text-animation 1s infinite; /* Fx 5+ */
	-o-animation:      scroll-down-text-animation 1s infinite; /* Opera 12+ */
	animation:         scroll-down-text-animation 1s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes scroll-down-text-animation
{
  0%   { opacity: 1; }
  50%   { opacity: 1; }
  51%   { opacity: 0; }
  100% { opacity: 0; }
}

img
{
	display: table; 
}

#illustrations
{
	position: absolute;
	width: 100%; /*to make project div center horizontally in mobile devices*/
	top: 100%;
	display: table; /*to make height wrap content*/
}
.illustration
{
	position: relative;
	width: 1230px;
	display: table; /*to make height wrap content*/
	padding-left: 30px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
	border-radius: 50px;
	background-color: #e600e6;
}

